.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
src/store.lo
src/synchro.lo
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
php_pthreads.lo
pthreads.la
run-tests.php
src/.libs/
src/globals.lo
src/handlers.lo
src/lock.lo
src/modifiers.lo
src/object.lo
src/prepare.lo
src/resources.lo
src/state.lo